<div class="container-fluid bg-dark footer pt-5 pb-5">
    <div class="row">
        <div class="col-sm-4">
            <h4>Navigation</h4>
            <hr>
            <div class="pl-1">
                <p class="mb-1"><a href="{{ path("about") }}" class="footer-link"><i
                                class="fas fa-info fa-fw"></i> About us</a></p>
                <p class="mb-1"><a href="{{ path("tos") }}" class="footer-link"><i
                                class="fas fa-passport fa-fw"></i> Terms Of Service</a></p>
                <p class="mb-1"><a href="{{ path("faq") }}" class="footer-link"><i
                                class="fas fa-question fa-fw"></i> Frequently asked questions</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Social Media</h4>
            <hr>
            <div class="pl-1">
                <p class="mb-1"><a target="_blank" href="https://www.instagram.com" class="footer-link"><i
                                class="fab fa-instagram fa-fw"></i> Instagram</a></p>
                <p class="mb-1"><a target="_blank" href="https://www.facebook.com" class="footer-link"><i
                                class="fab fa-facebook-square fa-fw"></i> Facebook</a></p>
                <p class="mb-1"><a target="_blank" href="https://www.facebook.com" class="footer-link"><i
                                class="fab fa-twitter fa-fw"></i> Twitter</a></p>
                <p class="mb-1"><a target="_blank" href="https://www.youtube.com" class="footer-link"><i
                                class="fab fa-youtube fa-fw"></i> Youtube</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Contacts</h4>
            <hr>
            <div class="pl-1">
                <p class="mb-1"><i class="fas fa-phone fa-fw"></i> +37065586547</p>
                <p class="mb-1"><i class="fas fa-envelope fa-fw"></i> support@J&WReady.com</p>
                <p class="mb-1"><i class="fas fa-location-arrow fa-fw"></i> Aušros g. 1, Vilnius, Lithuania</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid bg-darker pl-5 pr-5 pt-3 pb-3">
    <p class="text-muted mb-0">© J&WReady 2019. All rights reserved.</p>
</footer>