@import "./vendor/boostrap";
@import "./vendor/fontawesome";

@import "./components/footer";

.bg-white {
  background-color: #f6f6f6 !important;
}

.bg-dark {
  background-color: rgba(0,0,0,0.1) !important;
}

.bg-darker {
  background-color: rgba(0,0,0,0.175) !important;
}

.w-max-1000px {
  max-width: 1000px !important;
}