{% extends 'web/base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}

    <div class="container-fluid text-center h-50 pt-5 pb-5">
        <h1 class="display-1 mb-5 my-auto">An error has acquired!</h1>
        <h1>Please contact us immediately after seeing this page!</h1>
    </div>

{% endblock %}
