{% extends 'web/base.html.twig' %}

{% block title %}Error 403{% endblock %}

{% block body %}

    <div class="container-fluid text-center h-50 pt-5 pb-5">
        <h1 class="display-1 mb-5 my-auto">You're not allowed to see this page!</h1>
        <h1>Are you sure you're looking for something here?</h1>
    </div>

{% endblock %}
